JProject/JProject.Demo/Connected Services/TableSvc/JProject.ServicesTest.Utilities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JProject.ServicesTest.Utilities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JProject.ServicesTest.Utilities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NavigationEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NavigationEntity" nillable="true" type="tns:NavigationEntity" />
  <xs:complexType name="JsonResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonResult" nillable="true" type="tns:JsonResult" />
  <xs:complexType name="ArrayOfNavigationEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NavigationEntity" nillable="true" type="tns:NavigationEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNavigationEntity" nillable="true" type="tns:ArrayOfNavigationEntity" />
</xs:schema>