JProject/JProject.Demo/Connected Services/TableSvc/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ListSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/JProject.ServicesTest.Utilities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IListSvc_TestSvc_InputMessage">
    <wsdl:part name="parameters" element="tns:TestSvc" />
  </wsdl:message>
  <wsdl:message name="IListSvc_TestSvc_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestSvcResponse" />
  </wsdl:message>
  <wsdl:message name="IListSvc_TestHasParametersMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:TestHasParametersMethod" />
  </wsdl:message>
  <wsdl:message name="IListSvc_TestHasParametersMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestHasParametersMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IListSvc_getJsonMsg2_InputMessage">
    <wsdl:part name="parameters" element="tns:getJsonMsg2" />
  </wsdl:message>
  <wsdl:message name="IListSvc_getJsonMsg2_OutputMessage">
    <wsdl:part name="parameters" element="tns:getJsonMsg2Response" />
  </wsdl:message>
  <wsdl:message name="IListSvc_getJsonMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:getJsonMsg" />
  </wsdl:message>
  <wsdl:message name="IListSvc_getJsonMsg_OutputMessage">
    <wsdl:part name="parameters" element="tns:getJsonMsgResponse" />
  </wsdl:message>
  <wsdl:portType name="IListSvc">
    <wsdl:operation name="TestSvc">
      <wsdl:input wsaw:Action="http://tempuri.org/IListSvc/TestSvc" message="tns:IListSvc_TestSvc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListSvc/TestSvcResponse" message="tns:IListSvc_TestSvc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestHasParametersMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IListSvc/TestHasParametersMethod" message="tns:IListSvc_TestHasParametersMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListSvc/TestHasParametersMethodResponse" message="tns:IListSvc_TestHasParametersMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getJsonMsg2">
      <wsdl:input wsaw:Action="http://tempuri.org/IListSvc/getJsonMsg2" message="tns:IListSvc_getJsonMsg2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListSvc/getJsonMsg2Response" message="tns:IListSvc_getJsonMsg2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getJsonMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/IListSvc/getJsonMsg" message="tns:IListSvc_getJsonMsg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListSvc/getJsonMsgResponse" message="tns:IListSvc_getJsonMsg_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IListSvc" type="tns:IListSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestSvc">
      <soap:operation soapAction="http://tempuri.org/IListSvc/TestSvc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestHasParametersMethod">
      <soap:operation soapAction="http://tempuri.org/IListSvc/TestHasParametersMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getJsonMsg2">
      <soap:operation soapAction="http://tempuri.org/IListSvc/getJsonMsg2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getJsonMsg">
      <soap:operation soapAction="http://tempuri.org/IListSvc/getJsonMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListSvc">
    <wsdl:port name="BasicHttpBinding_IListSvc" binding="tns:BasicHttpBinding_IListSvc">
      <soap:address location="http://slvcnnot041.cn.slv.int:520/JProject.ServicesTest.ListSvc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>