JProject/JProject.Demo/Connected Services/TableSvc/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/JProject.ServicesTest.Utilities" />
  <xs:element name="TestSvc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestSvcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestSvcResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestHasParametersMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestHasParametersMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestHasParametersMethodResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getJsonMsg2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getJsonMsg2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JProject.ServicesTest.Utilities" minOccurs="0" name="getJsonMsg2Result" nillable="true" type="q1:JsonResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getJsonMsg">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getJsonMsgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JProject.ServicesTest.Utilities" minOccurs="0" name="getJsonMsgResult" nillable="true" type="q2:ArrayOfNavigationEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>