JProject/JProject.Mvc/Connected Services/TableSvc/JProject.ServicesTest.Utilities1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JProject.ServicesTest.Utilities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JProject.ServicesTest.Utilities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JsonResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonResult" nillable="true" type="tns:JsonResult" />
</xs:schema>